@use 'variables' as *;

.hero {
    min-height: 50vh;
    max-width: 100%;
}

@media (min-width: 576px) {
    .hero {
        min-height: 60vh;

        h1 {font-size: 2rem;}

        p { font-size: 1rem; }
    }

    .card {
        margin-bottom: 1rem;}

    footer {
        padding: 20px 10px;}

    .Aridos,
    .Bolsas,
    .Ladrillos {
        padding: 40px;
    }
    .nosotros {
        padding: 40px;
    }
    .hero-pages {
        padding: 30px;
        h1 {
            font-size: 1.5rem;
        }
    }
}

@media (min-width: 768px) {
    .hero {
        min-height: 90vh;        
        h1 {
            font-size: 2.5rem;
        }
        p {
            font-size: 1rem;
        }
    }

    .navbar-brand {
        font-size: 1.2rem;
    }

    footer {
        font-size: 0.9rem;
    }
    .productos-destacados .row {
        flex-direction: row; 
    }
}

